.logo {
  width: 60px;
  height: 56px;
  margin-right: 7px;
}

.navigasi {
  background-color: transparent;
  color: white;
}

.tombol-carousel {
  top : 60px;
  bottom : 60px;
}

.space-container {
  margin-top: 40px;
}
footer {
  text-align: center;
  padding: 3px;
  background-color :black;
  color: white;
}