.logo {
    width: 60px;
    height: 56px;
    margin-right: 7px;
}

.navigasi {
    background-color: transparent;
    color: white;
}

.tombol-carousel {
    top : 60px;
    bottom : 60px;
}

.space-container {
    margin-top: 40px;
}

.card_h-200_navigasi img{
    width: 350px;
    height: 500px;
}

.card_h-200_navigasi h5{
    color: white;
}

.card_h-200_navigasi p{
    color: white;
}